@charset "UTF-8";
body{
	    background:   #b30000;
}
.fondo{
	    background:  #004080;
	    color: yellow;
	    font-family: fantasy;
	    text-align: right;
}
.img-fluid{
                 max-width: 25%; 
                 height: auto;         
}
.lateral{
	        background:  #004080;
		    color: yellow;
		    text-align: left;
		    font-family: fantasy;
}
.img{
				    height: 50%;
				    max-width: 65%;
				    margin-left: 105px;		    
}


 