<!DOCTYPE html>
<html xmlns:th="http://www.thumeLeaf.org" lang="es">
		<head data-th-replace="∼{/layouts/header :: head}"></head>
		<body>
		      <footer th:fragment="footer">
					   <br/>
			           <div class="container-fluid">
			                <div class="row">
			                    <div class="col contacto">
			                            
			                         <br/>
			                             <img th:src="@{/images/logo-universidad grandeza.png}" class="img" alt="imagen-logo">               
			                  
			                    </div>                        
			                              <div class="col  contacto">
			                              <br/>
			                              <img th:src="@{/images/logo-fi-unju-.jpg}" class="img" alt="imagen-logo-unju">                       
			                              <p></p>
			                                 <p>                                           
			                                    Universidad Nacional de Jujuy - UNJu
												Subsecretaría de EaD - Coordinación UNJu Virtual
												Avda. Bolivia N° 1685 B° Los Huaicos
												San Salvador de Jujuy, Jujuy - Argentina </p>
									       </div>
			                         
			                            <div class="col contacto">
			                                   <br/>
			                                   <h5>Redes sociales de la universidad</h5>
			                                <nav>   
					                             <p> WhatsApp: 3884708223</p>
					                             <p> Correo: virtual@unju.edu.ar </p>     
					                             <p> Facebook:
					                                <a class="redes" href="https://www.facebook.com/unjuvirtual">https://www.facebook.com/unjuvirtual</a> 
					                            </p>   
					                             <p> Instagram:
					                                 <a class="redes" href="https://www.instagram.com/fiunju/">https://www.instagram.com/fiunju/</a> 
					                            </p>   
			                               </nav>
			                            
			                            </div>
			                    
			                       </div>
			                       
			                             <div class="row">
			                                <div class="col"></div>
			                                <div class="col autor">
			                                     <h6>© 2024 | Universidad Grandeza | Gerardo Ramos</h6> 
			                                </div>
			                                <div class="col"></div>
			                             </div>
			
			                     </div>	
                 </footer>
		</body>
</html>