<!DOCTYPE html>
<html xmlns:th="http://www.thumeLeaf.org" lang="es">
	<head th:fragment="head">
			<meta charset="UTF-8">
			<title data-th-text="${titulo}"></title>
			<meta name="viewport" content="width=device-width, initial-scale=1">
			<link th:rel="stylesheet" data-th-href="@{/webjars/bootstrap/css/bootstrap.min.css}">
			<link th:rel="stylesheet" data-th-href="@{/css/estilos.css}">
	</head>
	<body>
	      <header th:fragment="header">
		            <div class="container-fluid fondo">		       
				              <h1>UNIVERSIDAD GRANDEZA</h1> 		
				              <img th:src="@{/images/logo-universidad grandeza.png}" class="img-fluid" alt="imagen-logo"> 			          
				              <h4> "Orden y Progreso"</h4>	                        
			        </div>     
	      </header>
	</body>
</html>