<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
	<head data-th-replace="~{/layouts/header :: head}"> </head>
	
	<body>
		    <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
		     
	         
	     	  
	     	    <header data-th-replace="~{/layouts/header :: header}"> </header> 
	     	     
	     	     <div class="container fluid">  
	           
		              <div>
		                    <h3 data-th-text="${edicion}?'Modificar' : 'Nueva Carrera'" class="text-center"></h3>
		              </div>
		              	          
		              <div class="row">
		                 <form data-th-action="${edicion}?@{/carrera/modificar} : @{/carrera/guardar}" th:object="${carreras}" method="post">
		                         
		                        <div class="row mb-3 justify-content-center">
				                 <label class="col-sm-12 col-lg-2 col-form-label text-lg-end" for="codigo">Codigo</label>
					                 <div class="col-sm-12 col-lg-4">
						                 <input type="text" class="form-control" id="codigo" th:field="*{codigo}" th:disabled="${edicion}?true:false">
						                 <input type="hidden" class="form-control" id="codigo" th:field="*{codigo}" th:if="${edicion}">            
					                 </div>
			                     </div>  
	
		                        <div class="row mb-3 justify-content-center">
						                   <label class="col-sm-12 col-lg-2 col-form-label text-lg-end" for="nombre">Nombre</label>
						                     <div class="col-sm-12 col-lg-4">
						                        <input type="text" class="form-control" id="nombre" th:field="*{nombre}">
											 </div>
	                			</div>
	                
				               <div class="row mb-3 justify-content-center">
				                   <label class="col-sm-12 col-lg-2 col-form-label text-lg-end" for="cantaños">Duracion</label>
				                     <div class="col-sm-12 col-lg-4">
				                        <input type="number" class="form-control" id="cantaños" th:field="*{cantaños}" >
									</div>
				                </div>
				                            
				                            
				                        <div class="row mb-3 justify-content-center"  th:if="${edicion}">
										  <label for="estado" class="col-sm-12 col-lg-2 col-form-label text-lg-end">Estado</label>
											<div class="col-sm-12 col-lg-4">
													<input class="form-check-input" type="radio" th:field="*{estado}" value="true" name="radioActiva" id="radioActiva">
													<label class="form-check-label" for="radioActiva">Activa</label>
												
													<input class="form-check-input" type="radio" th:field="*{estado}" value="false" name="radioInactiva" id="radioInactiva">
													<label class="form-check-label" for="radioInactiva">Inactiva</label>					
						                   </div>
						                </div>
								
								         <p class="text-center"><input type="submit" class="btn btn-primary" th:value="${edicion}?'Modificar':'Guardar'"></p>   
								
				                </form>
				       </div>  
				                   
            </div>
            <footer data-th-replace="~{/layouts/footer :: footer}"></footer>
            
   </body>
  
</html>